.container {
  display: flex;
  justify-content: space-between;
  height: 36px;
  /* margin-right: 20px; */
}

.wrap {
  display: flex;
}

.text {
  /* margin: 0; */
  font-weight: 600;
  margin-right: 20px;
  color: red;
}

.btn {
  display: flex;

  justify-content: start;
}
