.container {
  display: flex;
  justify-content: space-between;
  height: 42px;
  background: linear-gradient(#3c5e16, rgb(3, 51, 23), #3c5e16);
  align-items: center;
  box-shadow: 0 18px 12px rgba(0, 0, 0, 0.44), 0 10px 10px rgba(0, 0, 0, 0.44);
  position: relative;
  z-index: 2;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  display: flex;
}

.text {
  font-family: 'Courier New', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 20px;
  color: #ffffff54;
  border: 1px solid #ffffff54;
  border-radius: 5px;
  text-decoration: none;
  padding: 4px 12px;
}

.text:hover {
  color: #fff;
  border-color: #fff;
}

.text:first-child {
  margin-left: 16px;
}

.btn {
  font-family: 'Courier New', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff54;
  border: 1px solid #ffffff54;
  border-radius: 5px;
  background: transparent;
  width: 60px;
  height: 28px;
  margin-right: 20px;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}
