.wrap {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 28px;
  align-self: flex-start;
}

.input {
  display: block;
  position: relative;
  width: 90%;
  padding: 0 15px;
  margin: 10px 0 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  background: #ffffff33;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.input::placeholder {
  color: #fff;
}

.list {
  list-style: none;
  min-width: 80%;
  padding-left: 50px;
}

.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80%;
  margin-top: 16px;
  border-bottom: 1px solid #fff;
}

.item:hover {
  transform: scale(1.1);
}

.logo {
  position: absolute;
  background-color: transparent;
  border: solid 2px thistle;
  background: rgba(146, 118, 146, 0.4);
  border-width: 2px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #ffffff33;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  padding-bottom: 14px;
  line-height: 2px;
  outline: none;
}

.btn:hover {
  color: rgba(168, 32, 27, 0.8);
}

.transparent {
  position: relative;
  max-width: 400px;
  padding: 60px 50px;
  margin: 50px auto 0;
  background-color: rgb(112, 62, 112);
  background-size: cover;
  border-radius: 10px;
}
.transparent:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right bottom,
    rgba(43, 44, 78, 0.5),
    rgba(104, 22, 96, 0.5)
  );
  border-radius: 10px;
}
.formInner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formInner h3 {
  position: relative;
  margin-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}
.formInner h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 60px;
  background: #1762ee;
}

.formInner label {
  display: block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.formInner input {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  font-family: 'Roboto', sans-serif;
}

.addBtn {
  border-radius: 100%;
  width: 58px;
  height: 58px;
  background: linear-gradient(
    to right bottom,
    rgba(43, 44, 94, 0.8),
    rgba(116, 17, 34, 0.8)
  );
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.addBtn:hover {
  background: #fff;
  color: rgba(116, 17, 34, 0.8);
}
